.html
{
	background-color: #E6E6E6;
	background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#E6E6E6 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE6E6E6, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6E6E6', endColorstr='#FFFFFFFF', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 975px;
	min-height: 804.9749999999988px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -35px;
}

#u75
{
	z-index: 2;
	width: 408px;
}

#u84
{
	z-index: 4;
	width: 975px;
	margin-top: 17px;
}

#menuu570
{
	z-index: 6;
	width: 975px;
	margin-right: -10000px;
}

#u578
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
}

#u581
{
	width: 193px;
	padding-bottom: 34px;
}

#u581:hover
{
	margin: 0px;
}

#u581:active
{
	margin: 0px;
}

#u584-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u581:hover #u584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u581:active #u584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u606
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
	left: 195px;
}

#u607
{
	width: 193px;
	padding-bottom: 34px;
}

#u581.MuseMenuActive,#u607:hover
{
	margin: 0px;
}

#u607:active
{
	margin: 0px;
}

#u609-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u581.MuseMenuActive #u584-4,#u607:hover #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u607:active #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u619
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
	left: 390px;
}

#u622
{
	width: 193px;
	padding-bottom: 34px;
}

#u607.MuseMenuActive,#u622:hover
{
	margin: 0px;
}

#u622:active
{
	margin: 0px;
}

#u624-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u607.MuseMenuActive #u609-4,#u622:hover #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u622:active #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	width: 194px;
	min-height: 52px;
	margin-right: -10000px;
	left: 585px;
}

#u669
{
	width: 194px;
	padding-bottom: 34px;
}

#u622.MuseMenuActive,#u669:hover
{
	margin: 0px;
}

#u669:active
{
	margin: 0px;
}

#u672-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u622.MuseMenuActive #u624-4,#u669:hover #u672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u669:active #u672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u681
{
	width: 194px;
	min-height: 52px;
	margin-right: -10000px;
	left: 781px;
}

#u684
{
	width: 194px;
	padding-bottom: 34px;
}

#u669.MuseMenuActive,#u684:hover
{
	margin: 0px;
}

#u684:active
{
	margin: 0px;
}

#u686-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u669.MuseMenuActive #u672-4,#u684:hover #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u684:active #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u684.MuseMenuActive #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu172
{
	z-index: 72;
	width: 0.01px;
	height: 526px;
	margin-top: 21px;
	position: relative;
}

#u173
{
	z-index: 73;
	width: 975px;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
}

#u257
{
	position: absolute;
	width: 151px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	background: #6B6B6B url("../images/foto1-u257-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u257:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 151px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u257:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 151px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u176
{
	position: absolute;
	width: 151px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	left: 163px;
	background: #6B6B6B url("../images/dsc_1163-u176-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u257.PamphletThumbSelected,#u176:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 151px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u176:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 151px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u176.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 151px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u174
{
	position: absolute;
	width: 153px;
	height: 59px;
	border-width: 1px;
	border-style: solid;
	top: 1px;
	left: 326px;
	background: #6B6B6B url("../images/dsc_0962-u174-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u174:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 59px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u174:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 59px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u174.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 59px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u178
{
	position: absolute;
	width: 153px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	left: 491px;
	background: #6B6B6B url("../images/29-u178-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u178:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u178:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u248
{
	position: absolute;
	width: 153px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	left: 656px;
	background: #6B6B6B url("../images/4-u248-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u178.PamphletThumbSelected,#u248:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u248:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u255
{
	position: absolute;
	width: 153px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	top: 1px;
	left: 821px;
	background: #6B6B6B url("../images/1-u255-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u248.PamphletThumbSelected,#u255:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u255:active
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

#u255.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 153px;
	height: 60px;
	min-height: 0px;
	margin: 0px;
	background-size: cover !important;
}

.Estilo-5,.Estilo-4,.Estilo-3,.Estilo-2,.Estilo-1,.Estilo
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u189
{
	position: absolute;
	width: 976px;
}

#u189popup
{
	z-index: 80;
}

#u258
{
	z-index: 81;
	width: 976px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u774
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	width: 975px;
	margin-right: -10000px;
}

#u1549-8
{
	z-index: 84;
	width: 508px;
	min-height: 125px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	background-color: #CA352E;
	background-color: rgba(192, 15, 7, 0.84);
	-moz-border-radius: 40px 0px 0px 0px ;
	-webkit-border-radius: 40px 0px 0px 0px ;
	-khtml-border-radius: 40px 0px 0px 0px ;
	border-radius: 40px 0px 0px 0px ;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
	left: 447px;
	-pie-background: rgba(192, 15, 7, 0.84);
}

#u1549-2
{
	line-height: 1.4;
	padding-left: 16px;
	padding-top: 12px;
}

#u1549
{
	color: #FFEF03;
}

#u1549-6
{
	font-size: 12px;
	padding-left: 16px;
	padding-top: 12px;
}

#u1555-4
{
	z-index: 92;
	width: 492px;
	line-height: 1.4;
	color: #FDFA8F;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u1549-4,#u1549-5
{
	color: #000000;
	font-weight: normal;
}

#u190
{
	z-index: 97;
	width: 976px;
	height: 480px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

.cajagris
{
	border-style: none;
	border-color: #000000;
	background-color: #3F3F3F;
	background-color: rgba(0, 0, 0, 0.75);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u1590
{
	z-index: 98;
	width: 975px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_1163.jpg") no-repeat center center;
}

#u793-8
{
	z-index: 99;
	width: 329px;
	min-height: 108px;
	text-align: left;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	left: 626px;
}

#u3391-4
{
	z-index: 105;
	width: 243px;
	min-height: 22px;
}

#u3392-4
{
	z-index: 111;
	width: 243px;
	min-height: 22px;
}

#u3393-4
{
	z-index: 117;
	width: 243px;
	min-height: 37px;
}

#u194
{
	z-index: 122;
	width: 976px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1595
{
	z-index: 123;
	width: 975px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 57px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_0962-u1595-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/dsc_0962.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover !important;
}

#u195
{
	z-index: 124;
	width: 955px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
}

.ie #u195
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3397-8
{
	z-index: 125;
	width: 329px;
	min-height: 108px;
	text-align: left;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 626px;
}

#u3401-4
{
	z-index: 131;
	width: 243px;
	min-height: 22px;
}

#u3399-4
{
	z-index: 137;
	width: 243px;
	min-height: 22px;
}

#u3403-4
{
	z-index: 143;
	width: 243px;
	min-height: 37px;
}

#u198
{
	z-index: 148;
	width: 976px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 0px 10px 10px ;
	-webkit-border-radius: 10px 0px 10px 10px ;
	-khtml-border-radius: 10px 0px 10px 10px ;
	border-radius: 10px 0px 10px 10px ;
	margin-right: -10000px;
	position: relative;
}

#u231
{
	z-index: 149;
	width: 974px;
	height: 457px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/29.jpg") no-repeat center center;
}

#u3404-8
{
	z-index: 150;
	width: 329px;
	min-height: 108px;
	text-align: left;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 626px;
}

#u3408-4
{
	z-index: 156;
	width: 243px;
	min-height: 22px;
}

#u3406-4
{
	z-index: 162;
	width: 243px;
	min-height: 22px;
}

#u3410-4
{
	z-index: 168;
	width: 243px;
	min-height: 37px;
}

#u250
{
	z-index: 173;
	width: 976px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u226
{
	z-index: 174;
	width: 975px;
	height: 457px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/4-u226-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3411-8
{
	z-index: 175;
	width: 329px;
	min-height: 108px;
	text-align: left;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 626px;
}

#u3415-4
{
	z-index: 181;
	width: 243px;
	min-height: 22px;
}

#u3413-4
{
	z-index: 187;
	width: 243px;
	min-height: 22px;
}

#u3417-4
{
	z-index: 193;
	width: 243px;
	min-height: 37px;
}

#u256
{
	z-index: 198;
	width: 976px;
	height: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u221
{
	z-index: 199;
	width: 975px;
	height: 457px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1.jpg") no-repeat center center;
}

#u3418-8
{
	z-index: 200;
	width: 329px;
	min-height: 108px;
	text-align: left;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 626px;
}

#u793-6,#u3397-6,#u3404-6,#u3411-6,#u3418-6
{
	padding-left: 16px;
}

#u1549-3,#u793,#u3397,#u3404,#u3411,#u3418
{
	font-size: 1px;
	line-height: 0px;
}

#u3394,#u3400,#u3407,#u3414,#u3419
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#u3420-4
{
	z-index: 206;
	width: 243px;
	min-height: 22px;
}

#u3395,#u3398,#u3405,#u3412,#u3423
{
	margin-top: 56px;
	margin-bottom: -56px;
}

#u3424-4
{
	z-index: 212;
	width: 243px;
	min-height: 22px;
}

#u3396,#u3402,#u3409,#u3416,#u3421
{
	margin-top: -7px;
	margin-bottom: 7px;
}

#u3422-4
{
	z-index: 218;
	width: 243px;
	min-height: 37px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1608
{
	z-index: 71;
	width: 975px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
0px 0px 6px #000000/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 6px #000000/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 6px -1px #000000/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 6px #000000/* drop shadow*/;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 7px;
	margin-top: 32px;
	position: relative;
}

#u1548-6
{
	z-index: 250;
	width: 934px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u1548-2
{
	font-weight: bold;
}

#pu275
{
	width: 0.01px;
	margin-top: 18px;
	position: relative;
}

#u275
{
	z-index: 223;
	width: 975px;
	border-color: #000000;
	background-color: #D5D0D0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#pu276-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u276-4
{
	z-index: 224;
	width: 338px;
	min-height: 20px;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#pu282-4
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u282-4
{
	z-index: 232;
	width: 61px;
	min-height: 20px;
	font-size: 14px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u292-4
{
	z-index: 244;
	width: 115px;
	min-height: 20px;
	font-size: 14px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u286-4
{
	z-index: 236;
	width: 75px;
	min-height: 20px;
	font-size: 14px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 391px;
}

#u4377-4
{
	z-index: 240;
	width: 75px;
	min-height: 20px;
	font-size: 14px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 605px;
}

#busqueda
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#pu316-4
{
	width: 0.01px;
	margin-top: 53px;
	position: relative;
}

#u316-4
{
	z-index: 228;
	width: 338px;
	min-height: 20px;
	font-size: 18px;
	color: #C01D2E;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#u314
{
	z-index: 248;
	width: 975px;
	height: 41px;
	background: transparent url("../images/u314-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.15)),color-stop(88%, rgba(0, 0, 0, 0.06)));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.15) ,rgba(0, 0, 0, 0.06) 88%);
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.15) ,rgba(0, 0, 0, 0.06) 88%);
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.15) ,rgba(0, 0, 0, 0.06) 88%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.15) ,rgba(0, 0, 0, 0.06) 88%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.15) ,rgba(0, 0, 0, 0.06) 88%);
	position: relative;
	margin-right: -10000px;
}

.botonrojo
{
	border-style: none;
	border-color: #000000;
	background-color: #C01D2E;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#pu1650-3
{
	width: 0.01px;
	margin-top: 25px;
	position: relative;
}

#u1650-3
{
	z-index: 256;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 378px;
}

#u4374
{
	z-index: 259;
	width: 975px;
	position: relative;
	margin-right: -10000px;
}

#u4373
{
	z-index: 260;
	width: 975px;
	height: 578px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u4375-64
{
	z-index: 261;
	width: 949px;
	min-height: 558px;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u318
{
	z-index: 5;
	width: 975px;
	padding-bottom: 5px;
	margin-left: 2px;
	margin-top: 35px;
}

#u1050-17
{
	z-index: 37;
	width: 326px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u1052-6
{
	z-index: 54;
	width: 328px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 626px;
}

#pamphletu1073
{
	z-index: 60;
	width: 0.01px;
	height: 49px;
	margin-left: 660px;
}

#u1082popup
{
	z-index: 61;
}

#u1082
{
	width: 334px;
}

#u1083
{
	z-index: 62;
	width: 334px;
	height: 49px;
	margin-right: -10000px;
}

#u1084-6
{
	z-index: 63;
	width: 297px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u1076
{
	z-index: 69;
	width: 16px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 279px;
}

#u1078
{
	width: 16px;
	height: 16px;
}

#u684.MuseMenuActive,#u1078.PamphletThumbSelected
{
	margin: 0px;
}

body
{
	padding-top: 25px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

