#u84
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

.botonrojo
{
	border-style: none;
	border-color: #000000;
	background-color: #C01D2E;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#menuu570
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

#u581
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

#u581:hover
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u581:active
{
	background-image: none;
	background-color: #6B6B6B;
	-pie-background: none;
}

#u584-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u607
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

#u607:hover
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u607:active
{
	background-image: none;
	background-color: #6B6B6B;
	-pie-background: none;
}

#u609-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u622
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

#u622:hover
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u622:active
{
	background-image: none;
	background-color: #6B6B6B;
	-pie-background: none;
}

#u624-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u669
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

#u669:hover
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u669:active
{
	background-image: none;
	background-color: #6B6B6B;
	-pie-background: none;
}

#u672-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u684
{
	background: #C00F07 url("../images/u84-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(56%, #C01D2E),to(#C00F07));
	background: -webkit-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -moz-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -ms-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: -o-linear-gradient(top,#C01D2E 56%,#C00F07 );
	background: linear-gradient(to bottom,#C01D2E 56%,#C00F07 );
	position: relative;
}

#u684:hover
{
	background-image: none;
	background-color: #AAAAAA;
	-pie-background: none;
}

#u684:active
{
	background-image: none;
	background-color: #6B6B6B;
	-pie-background: none;
}

#u581.MuseMenuActive,#u607.MuseMenuActive,#u622.MuseMenuActive,#u669.MuseMenuActive,#u684.MuseMenuActive
{
	background-image: none;
	background-color: #C00F07;
	-pie-background: none;
}

#u686-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u581.MuseMenuActive #u584-4,#u607.MuseMenuActive #u609-4,#u622.MuseMenuActive #u624-4,#u669.MuseMenuActive #u672-4,#u684.MuseMenuActive #u686-4
{
	border-style: none;
	border-color: transparent;
}

#u318
{
	border-color: #000000;
	background-color: #D5D0D0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1050-8
{
	color: #000000;
}

#u1050-17,#u1052-6
{
	font-size: 12px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1082
{
	position: absolute;
}

#u1083
{
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u1084-6
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u75,#u578,#u606,#u619,#u668,#u681,#pamphletu1073,#u1076
{
	position: relative;
}

#u1078
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FEFEFE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1078.PamphletThumbSelected
{
	background-color: #FEFEFE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

