.html
{
	background-color: #E6E6E6;
	background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#E6E6E6 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE6E6E6, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6E6E6', endColorstr='#FFFFFFFF', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 975px;
	min-height: 805px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -35px;
}

#u75
{
	z-index: 2;
	width: 408px;
}

#u84
{
	z-index: 4;
	width: 975px;
	margin-top: 17px;
}

#menuu570
{
	z-index: 6;
	width: 975px;
	margin-right: -10000px;
}

#u578
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
}

#u581
{
	width: 193px;
	padding-bottom: 34px;
}

#u581:hover
{
	margin: 0px;
}

#u581:active
{
	margin: 0px;
}

#u584-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u581:hover #u584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u581:active #u584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u606
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
	left: 195px;
}

#u607
{
	width: 193px;
	padding-bottom: 34px;
}

#u581.MuseMenuActive,#u607:hover
{
	margin: 0px;
}

#u607:active
{
	margin: 0px;
}

#u609-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u581.MuseMenuActive #u584-4,#u607:hover #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u607:active #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u619
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
	left: 390px;
}

#u622
{
	width: 193px;
	padding-bottom: 34px;
}

#u607.MuseMenuActive,#u622:hover
{
	margin: 0px;
}

#u622:active
{
	margin: 0px;
}

#u624-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u607.MuseMenuActive #u609-4,#u622:hover #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u622:active #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	width: 194px;
	min-height: 52px;
	margin-right: -10000px;
	left: 585px;
}

#u669
{
	width: 194px;
	padding-bottom: 34px;
}

#u622.MuseMenuActive,#u669:hover
{
	margin: 0px;
}

#u669:active
{
	margin: 0px;
}

#u672-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u622.MuseMenuActive #u624-4,#u669:hover #u672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u669:active #u672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u681
{
	width: 194px;
	min-height: 52px;
	margin-right: -10000px;
	left: 781px;
}

#u684
{
	width: 194px;
	padding-bottom: 34px;
}

#u669.MuseMenuActive,#u684:hover
{
	margin: 0px;
}

#u684:active
{
	margin: 0px;
}

#u686-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u669.MuseMenuActive #u672-4,#u684:hover #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u684:active #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u684.MuseMenuActive #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u4238
{
	z-index: 94;
	width: 480px;
	padding-bottom: 8px;
	margin-top: 14px;
	position: relative;
}

.botonrojo
{
	border-style: none;
	border-color: #000000;
	background-color: #C01D2E;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u4239-4
{
	z-index: 95;
	width: 426px;
	min-height: 22px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 20px;
}

#pslideshowu4160
{
	width: 0.01px;
	margin-top: 14px;
	position: relative;
}

#slideshowu4160
{
	z-index: 72;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u4163
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u4163popup
{
	z-index: 73;
}

#u4164
{
	z-index: 74;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4164_img
{
	margin-top: -12px;
	margin-bottom: -12px;
}

#u4172
{
	z-index: 76;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4172_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u4176
{
	z-index: 78;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4176_img
{
	margin-left: -55px;
	margin-right: -55px;
}

#u4166
{
	z-index: 80;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4166_img
{
	margin-left: -26px;
	margin-right: -26px;
}

#u4182
{
	z-index: 82;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4182_img
{
	margin-top: -19px;
	margin-bottom: -20px;
}

#u4174
{
	z-index: 84;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4174_img
{
	margin-top: -55px;
	margin-bottom: -54px;
}

#u4178
{
	z-index: 86;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4168
{
	z-index: 88;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4170
{
	z-index: 90;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u4164_clip,#u4172_clip,#u4176_clip,#u4166_clip,#u4182_clip,#u4174_clip,#u4170_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u4170_img
{
	margin-top: -13px;
	margin-bottom: -14px;
}

#u4180
{
	z-index: 92;
	width: 480px;
	height: 360px;
	-pie-box-shadow: 0px 6px 6px #7F7F7F;
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu4254
{
	z-index: 194;
	width: 0.01px;
	height: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 33px;
}

#u4255
{
	position: absolute;
	width: 977px;
	height: 718px;
	background-color: #565656;
	background-color: rgba(68, 68, 68, 0.9);
	top: -388px;
	left: -34px;
	-pie-background: rgba(68, 68, 68, 0.9);
}

#u4255popup
{
	z-index: 195;
}

#u4270
{
	z-index: 196;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4270_img
{
	padding-left: 44px;
	padding-right: 44px;
}

#u4256
{
	z-index: 198;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4256_img
{
	padding-top: 53px;
	padding-bottom: 53px;
}

#u4258
{
	z-index: 200;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4258_img
{
	padding-left: 6px;
	padding-right: 6px;
}

#u4266
{
	z-index: 202;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4266_img
{
	padding-left: 61px;
	padding-right: 61px;
}

#u4268
{
	z-index: 204;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4268_img
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#u4274
{
	z-index: 206;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4260
{
	z-index: 208;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4260_img
{
	padding-left: 48px;
	padding-right: 48px;
}

#u4264
{
	z-index: 210;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4274_img,#u4264_img
{
	padding-left: 17px;
	padding-right: 17px;
}

#u4272
{
	z-index: 212;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4272_img
{
	padding-top: 108px;
	padding-bottom: 108px;
}

#u4262
{
	z-index: 214;
	width: 933px;
	height: 674px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4262_img
{
	padding-left: 122px;
	padding-right: 122px;
}

#u4282
{
	position: absolute;
	width: 340px;
	left: 28px;
}

#u4282popup
{
	z-index: 216;
}

#u4293
{
	z-index: 217;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4293_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u4299
{
	z-index: 219;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u4299_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u4283
{
	z-index: 221;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4283_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u4285
{
	z-index: 223;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u4295
{
	z-index: 225;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u4293:hover,#u4299:hover,#u4283:hover,#u4285:hover,#u4295:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u4295_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u4289
{
	z-index: 227;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u4291
{
	z-index: 229;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u4285_img,#u4291_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u4287
{
	z-index: 231;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u4301
{
	z-index: 233;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u4301_img
{
	margin-left: -16px;
	margin-right: -16px;
}

#u4297
{
	z-index: 235;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u4289:hover,#u4291:hover,#u4287:hover,#u4301:hover,#u4297:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u4293_clip,#u4299_clip,#u4283_clip,#u4285_clip,#u4295_clip,#u4291_clip,#u4301_clip,#u4297_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u4297_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u4240-27
{
	z-index: 99;
	width: 159px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u4240-2,#u4240-3,#u4240-5,#u4240-6,#u4240-8,#u4240-9,#u4240-11,#u4240-12,#u4240-14,#u4240-15,#u4240-17,#u4240-18,#u4240-20,#u4240-21,#u4240-23,#u4240-24
{
	font-size: 20px;
}

#u4240-25
{
	font-size: 18px;
}

#pu4242-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 706px;
}

#u4242-4
{
	z-index: 130;
	width: 200px;
	font-size: 20px;
	margin-left: 4px;
	position: relative;
}

#u4243-4
{
	z-index: 134;
	width: 200px;
	font-size: 20px;
	margin-left: 4px;
	margin-top: 24px;
	position: relative;
}

#u4244-4
{
	z-index: 138;
	width: 200px;
	font-size: 20px;
	margin-top: 23px;
	position: relative;
}

#u4245-4
{
	z-index: 142;
	width: 200px;
	font-size: 20px;
	margin-top: 24px;
	position: relative;
}

#u4246-4
{
	z-index: 146;
	width: 200px;
	font-size: 20px;
	margin-top: 25px;
	position: relative;
}

#u4247-4
{
	z-index: 150;
	width: 200px;
	font-size: 20px;
	margin-top: 25px;
	position: relative;
}

#u4248-4
{
	z-index: 154;
	width: 200px;
	font-size: 20px;
	margin-top: 24px;
	position: relative;
}

#u4249-4
{
	z-index: 158;
	width: 256px;
	font-size: 20px;
	margin-top: 23px;
	position: relative;
}

#u4241-4
{
	z-index: 126;
	width: 120px;
	min-height: 34px;
	font-size: 18px;
	top: -15px;
	margin-bottom: -15px;
	position: relative;
}

#u4159
{
	z-index: 71;
	width: 975px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
0px 0px 6px #000000/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 6px #000000/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 6px -1px #000000/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 6px #000000/* drop shadow*/;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 11px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4253-10
{
	z-index: 184;
	width: 935px;
	text-align: left;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#u4251-7
{
	z-index: 173;
	width: 881px;
	text-align: left;
	font-size: 12px;
	margin-top: 14px;
	position: relative;
}

#u4253,#u4253-3,#u4253-5,#u4253-7,#u4251,#u4251-3
{
	color: #000000;
	font-weight: normal;
}

#u4251-4
{
	color: #000000;
}

#u4250-11
{
	z-index: 162;
	width: 508px;
	-pie-box-shadow: 0px 0px 8px #7F7F7F;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	background-color: #C00F07;
	-moz-border-radius: 40px 0px 40px 0px ;
	-webkit-border-radius: 40px 0px 40px 0px ;
	-khtml-border-radius: 40px 0px 40px 0px ;
	border-radius: 40px 0px 40px 0px ;
	text-align: left;
	margin-left: 467px;
	margin-top: 61px;
	position: relative;
}

#u4250-2
{
	line-height: 1.4;
	padding-left: 16px;
	padding-top: 12px;
}

#u4250
{
	color: #FFEF03;
}

#u4250-4,#u4250-6,#u4250-8
{
	font-size: 12px;
	padding-left: 16px;
	padding-top: 8px;
}

#u4250-3,#u4250-5,#u4250-7
{
	color: #FDFA8F;
}

#u4250-9
{
	font-size: 12px;
	padding-left: 16px;
	padding-top: 12px;
}

#u4252-4
{
	z-index: 180;
	width: 929px;
	color: #C00F00;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 26px;
	margin-top: 12px;
	position: relative;
}

#u318
{
	z-index: 5;
	width: 975px;
	padding-bottom: 5px;
	margin-left: 2px;
	margin-top: 35px;
}

#u1050-17
{
	z-index: 37;
	width: 326px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u1052-6
{
	z-index: 54;
	width: 328px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 626px;
}

#pamphletu1073
{
	z-index: 60;
	width: 0.01px;
	height: 49px;
	margin-left: 660px;
}

#u1082popup
{
	z-index: 61;
}

#u1082
{
	width: 334px;
}

#u1083
{
	z-index: 62;
	width: 334px;
	height: 49px;
	margin-right: -10000px;
}

#u1084-6
{
	z-index: 63;
	width: 297px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u1076
{
	z-index: 69;
	width: 16px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 279px;
}

#u1078
{
	width: 16px;
	height: 16px;
}

#u684.MuseMenuActive,#u1078.PamphletThumbSelected
{
	margin: 0px;
}

body
{
	padding-top: 25px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

