.html
{
	background-color: #E6E6E6;
	background: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#E6E6E6 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#E6E6E6 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE6E6E6, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6E6E6', endColorstr='#FFFFFFFF', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 975px;
	min-height: 805px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -35px;
}

#u75
{
	z-index: 2;
	width: 408px;
}

#u84
{
	z-index: 4;
	width: 975px;
	margin-top: 17px;
}

#menuu570
{
	z-index: 6;
	width: 975px;
	margin-right: -10000px;
}

#u578
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
}

#u581
{
	width: 193px;
	padding-bottom: 34px;
}

#u581:hover
{
	margin: 0px;
}

#u581:active
{
	margin: 0px;
}

#u584-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u581:hover #u584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u581:active #u584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u606
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
	left: 195px;
}

#u607
{
	width: 193px;
	padding-bottom: 34px;
}

#u581.MuseMenuActive,#u607:hover
{
	margin: 0px;
}

#u607:active
{
	margin: 0px;
}

#u609-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u581.MuseMenuActive #u584-4,#u607:hover #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u607:active #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u619
{
	width: 193px;
	min-height: 52px;
	margin-right: -10000px;
	left: 390px;
}

#u622
{
	width: 193px;
	padding-bottom: 34px;
}

#u607.MuseMenuActive,#u622:hover
{
	margin: 0px;
}

#u622:active
{
	margin: 0px;
}

#u624-4
{
	width: 193px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u607.MuseMenuActive #u609-4,#u622:hover #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u622:active #u624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	width: 194px;
	min-height: 52px;
	margin-right: -10000px;
	left: 585px;
}

#u669
{
	width: 194px;
	padding-bottom: 34px;
}

#u622.MuseMenuActive,#u669:hover
{
	margin: 0px;
}

#u669:active
{
	margin: 0px;
}

#u672-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u622.MuseMenuActive #u624-4,#u669:hover #u672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u669:active #u672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u681
{
	width: 194px;
	min-height: 52px;
	margin-right: -10000px;
	left: 781px;
}

#u684
{
	width: 194px;
	padding-bottom: 34px;
}

#u669.MuseMenuActive,#u684:hover
{
	margin: 0px;
}

#u684:active
{
	margin: 0px;
}

#u686-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 17px;
}

#u669.MuseMenuActive #u672-4,#u684:hover #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u684:active #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u684.MuseMenuActive #u686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u4074
{
	z-index: 71;
	width: 974px;
	height: 352px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 29px;
	position: relative;
}

#u318
{
	z-index: 5;
	width: 975px;
	padding-bottom: 5px;
	margin-left: 2px;
	margin-top: 194px;
}

#u1050-17
{
	z-index: 37;
	width: 326px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u1052-6
{
	z-index: 54;
	width: 328px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 626px;
}

#pamphletu1073
{
	z-index: 60;
	width: 0.01px;
	height: 49px;
	margin-left: 660px;
}

#u1082popup
{
	z-index: 61;
}

#u1082
{
	width: 334px;
}

#u1083
{
	z-index: 62;
	width: 334px;
	height: 49px;
	margin-right: -10000px;
}

#u1084-6
{
	z-index: 63;
	width: 297px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 14px;
}

#u1076
{
	z-index: 69;
	width: 16px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 279px;
}

#u1078
{
	width: 16px;
	height: 16px;
}

#u684.MuseMenuActive,#u1078.PamphletThumbSelected
{
	margin: 0px;
}

body
{
	padding-top: 25px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

